/* topbar */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar{
  height: 60px;  
  background-color: white;
  border: 2px solid black;
}
/* topbar padding*/
.navbar .container-fluid {
  padding-right: 27px;
  padding-left: 27px;
}
/* topbar */
.username img {
  border-radius: 50%;
  width: 40px;
}


/* sidebar look*/
.sidebar {
  display: block;
  margin: 0;
  padding: 0;
  width: 76px;
  background-color: white;
  border: 2px solid black;
  border-top: 0px;
  position: fixed;
  height: 100%;
  overflow: auto;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.hidesidebar {
  -webkit-transform: translate3d(-100%, 0px, 0px);
  transform: translate3d(-100%, 0px, 0px);
  visibility: visible;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
/* Sidebar icon */
.sidebar i {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 32px 0px;
  text-decoration: none;
}
  /* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: white;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 76px;
  padding: 36px;
  background-color: #f1fcff;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    -webkit-transform: translate3d(-100%, 0px, 0px);
    transform: translate3d(-100%, 0px, 0px);
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }  
  .hidesidebar {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }
  div.content {margin-left: 0;}
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* title on page head */
.title{
  font-size: 70px;
  font-weight: bolder;
  font-family: 'IBM Plex Mono', monospace;
}


/* tap control with underline */
.tap{
  font-size: 16px;
  font-family: 'Sarabun', sans-serif;
  line-height: 21px;
  letter-spacing: 0.1em;
}
.active{  
  border-bottom: 5px solid black;
  color: black;
  padding-bottom: 4px;
}


/* search box */
.search {
  position: relative;
  width: 400px
}
.form-control {
  text-indent: 30px;
}
.search .form-control-sm {
  border-radius: 10px;
  background-color:  rgb(231, 231, 231);
  color: grey;
  border-width: 0;
  font-weight: bolder;
  font-size: 12px;
}
.fa-search {
  position: absolute;
  top: 6px;
  left: 10px;
  color: grey;
}


/* dropdown selction */
.dropdown{
  width: 200px
}
.dropdown .form-select-sm{
  border-radius: 10px;
  background-color:  rgb(231, 231, 231);
  color: grey;
  border-width: 0;  
  font-weight: bolder;
  font-size: 12px;
  width: 100px;
  display: inline-block
}


/* market coin table */
body table{
  font-size: 12px;
  font-weight: bold;
}
.tablebold{
  font-weight: bolder;
}
.tablesmall{
  font-weight: lighter;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: whitesmoke;
}
table.table-borderless td,
table.table-borderless th {
    border: 0;
}
table img {
  border-radius: 50%;
  width: 30px;
}
.controlchartsize{
  width: 80px;
  height: 40px
}
.fa-plus-circle .fa-sort-up {
  font-size: 16px;
}


  /* Add shadows to create the "card" effect */
.card{
    padding: 1.5em .5em .5em;
    border-radius: 10px!important;
    border: none!important;
    border-color: transparent!important;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}

/* bot page filter */
.filter{
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 12px;
}
.filter-top{
  background: #F9F9FF;
  padding-top: 21px;
  padding-left: 28px;
  padding-bottom: 23px;
  padding-right: 22px;
  border-radius: 12px;

}
.filter-bottom{
  padding: 20px;
  background-color: white;  
  border-radius: 0px 0px 12px 12px;
}


/* daily profit line chart */
.card-chart {
  background: linear-gradient(-45deg, #5555FF, #9787FF);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); 
  position: relative;
  width: 300px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
}
/* hide limit values on X axis */
.card-chart #mycanvas {
  margin: 0px 14px;
}
.card-chart .about {
  height: 150px;
  padding: 20px;
  box-sizing: border-box;
}
.card-chart .about h3,
.card-chart .about .lead {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}
.card-chart .about h3 {
  font-size: 24px;
  color: #fff;
}
.card-chart .about .lead {
  color: #eee;
}
.card-chart .info {
  float: left;
  padding: 10px 30px 10px 0;
}
.card-chart .info p {
  font-size: 11px;
  color: #aaa;
  font-weight: 300;
}
.legends {
  padding-top: 20px;
  overflow: hidden;
}
.legend {
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
}
.legend--this {
  background-color: #5555FF;
}
.legend--prev {
  background-color: #FF55B8;
}
.axis {
  position: absolute;
  color: #fff;
  z-index: 1;
  text-transform: uppercase;
  display: flex;
  width: 100%;
  bottom: 0;
}
.axis .tick {
  flex: 1;
  position: relative;
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.axis .tick::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
}
.axis .tick .value {
  transform: translateY(-240px);
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  top: 20px;
  left: 0;
  color: #fff;
  border-radius: 2px;
  width: 100%;
  line-height: 20px;
}
.axis .tick:hover .value.value--this {
  transform: translateY(-160px);
  display: block;
  opacity: 0.4;
}
.value.value--this {
  color: #fff;
  font-weight: bold;
}
.day-number {
  display: block;
}
.day-name {
  display: block;
  opacity: 0.4;
}
/* Animated background, credits: Manuel Pinto, https://codepen.io/P1N2O/pen/pyBNzX */
.card-chart {
  background: linear-gradient(-45deg, #5555FF, #9787FF);
}
@keyframes bg
{
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@media (min-width: 768px) {
    
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}
