/* topbar */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* topbar */
.navbar{
  height: 90px;  
  background-color: white;
  border: 2px solid black;
  border-left: 0px;
  padding: 0px !important;
}
.username{
  font-size: 16px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
}
.username img {
  border-radius: 50%;
  width: 30px;
  margin-left: 10px;
  margin-right: 30px;
}

/* sidebar expand features*/
.sidebar {
  width: 90px;
  border: 2px solid black;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-weight: 800 !important;
  font-family: 'Sarabun', sans-serif;
  visibility: visible;
  overflow-y: hidden;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  z-index: 9999;
}
.expandsidebar {
  overflow-x: hidden;
  width: 300px;
  visibility: visible;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
/* sidebar expand/collapse switch */
.sidebar-switch{
  position: relative;
  color: black;
  font-size: 25px;
  padding-left: 28px;
  min-height: 88px;
  width: 100%;
  border-bottom: 2px solid black;
  cursor: pointer;
}
.sidebar-switch img{
  display: none;
  width: 180px;
  height: 60px;
  vertical-align: middle;
}
.expandsidebar .sidebar-switch{
  background-color: black;
}
.expandsidebar .sidebar-switch img{
  display: inline-block; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-switch i{  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.expandsidebar .sidebar-switch i{
  color: white;
  right: 10%;  
}
/* Sidebar icon */
.sidebar i {
  color: black;
  font-size: 25px;
  width: 28px;
  height: 28px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
}
.sidebar-item-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%) ;
  white-space: nowrap;
  margin-left: auto;
}
/* Sidebar links */
.sidebar a {
  position: relative;
  width: 70px;
  height: 70px;
  padding: 18px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.sidebar a:hover {
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 0px 4px 0px black;
  transition: none !important;
  -webkit-transition: none !important;
}
.expandsidebar a {
  width: 240px;
  height: 70px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.sidebar .active {
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 0px 4px 0px black;
  background-color: #E6EF59;
}
.sidebar a span{
  display: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-size: 28px;
  line-height: 25px;  
  margin-left: 10px;  
  vertical-align: middle;
}
.expandsidebar a span{  
  width: 150px;
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 0.5s steps(10, end);
}
.expandsidebar a span:hover{  
  text-decoration: none !important;
}
.expandsidebar .sidebar-sector-blue{
  background-color: #EEEEFF;
  padding: 15px 50px;
  display: block;
  margin-top: auto;
}
.sidebar-sector-blue{
  display: none;
}
.sidebar-sector-blue div:first-child{
  padding-bottom: 10px;
}
.sidebar-sector-blue div{
  overflow: hidden; 
  white-space: nowrap; 
  animation: opacityeffect 1s steps(30, end);
}
.sidebar-sector-blue i{
  font-size: 16px;
  padding-left: 5px;
}
.expandsidebar .sidebar-lower-sector{
  margin-top: 20px;
  width: 100%;
  padding: 15px 28px 50px 50px;
  display: block;
}
.sidebar-lower-sector{
  display: none;
}
.sidebar-lower-sector div:last-child{
  padding-top: 5px;
}
.sidebar-lower-sector div:last-child span{
  font-weight: 400;
  margin-right: 5px;
  margin-left: 2px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.sidebar-lower-sector div{
  overflow: hidden; 
  white-space: nowrap; 
  animation: opacityeffect 1s steps(30, end);
}

@keyframes opacityeffect {
  from { opacity: 0 }
  to { opacity: 0.7 }
}
/* The typing effect */
@keyframes typing {
  from { width: 0; opacity: 0 }
  to { width: 100%; opacity: 1 }
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
  margin-left: 90px;
  background-color: #f1fcff;
  font-size: 16px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 700;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.cover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 8888;
  opacity: 0;
  transition-delay: 0.5s;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  display: none;
}
.content-close-cover{
  display:block;
  opacity: 0.7;
  transition-delay: 0.5s;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  animation: opacityeffect 0.5s steps(50, end);
}
.content-close-sidebar{
  pointer-events: none;

}
.content-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px;
  padding: 36px
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    -webkit-transform: translate3d(-100%, 0px, 0px);
    transform: translate3d(-100%, 0px, 0px);
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }  
  .expandsidebar {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }
  div.content {margin-left: 0;}
}

/* title on page head */
.title{
  font-size: 70px;
  font-weight: bolder;
  font-family: 'IBM Plex Mono', monospace;
}


/* tap control with underline */
.tap{
  line-height: 21px;
  letter-spacing: 0.1em;
}
.active{  
  border-bottom: 5px solid black;
  color: black;
  padding-bottom: 2px;
}


/* search box */
.search {
  position: relative;
  width: 400px
}
.search .form-control {
  text-indent: 30px;
}
.search .form-control-sm {
  border-radius: 10px;
  background-color:  rgb(231, 231, 231);
  color: grey;
  border-width: 0;
  font-weight: bolder;
  font-size: 12px;
}
.fa-search {
  position: absolute;
  top: 6px;
  left: 10px;
  color: grey;
}



/* market coin table */
tr:nth-child(even){
  background-color: #F9F9FF;
}
td {
  padding: 20px 25px !important;
  font-size: 25px;
  vertical-align: middle;
}
thead{
  background-color: #F9F9FF !important;
  border-bottom: 2px solid black!important;
}
th{
  padding: 25px !important;  
  vertical-align: middle;
}
table tr:first-child th:first-child{  
  border-top-left-radius: 10px;
}
table tr:first-child th:last-child{  
  border-top-right-radius: 10px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
table img {
  border-radius: 50%;
  width: 30px;
}
#chartforcoin{
  width: 200px !important;
  height: 40px !important;
}
#chartforcoin2{
  width: 100% !important;
  min-height: 120px !important;
}
.fa-plus-circle .fa-sort-up {
  font-size: 16px;
}
.highlighter{
  height: 10px; 
  width: 40px; 
  border-radius: 12px;
}

.card-table{
  border-radius: 10px !important;
  border: 2px solid black !important;
}
  /* Add shadows to create the "card" effect */
.card-info{
    padding: 1.5em .5em .5em;
    border-radius: 10px!important;
    border: none!important;
    border-color: transparent!important;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.card-info:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}

/* bot page filter */
.rounded-box{
  border: 2px solid #000000;
  box-sizing: border-box;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.black-shadow{
  box-shadow: 4px 4px 0px black;
}
.filterbutton{
  border: 2px solid #000000 !important;
  box-sizing: border-box;
  border-radius: 12px !important;
  padding: 10px 20px;
}
.filter-top{
  background-color: #F9F9FF;
  padding-top: 21px;
  padding-left: 28px;
  padding-bottom: 23px;
  padding-right: 22px;
  border-radius: 12px;
}
.filter-bottom{
  padding: 20px;
  background-color: white;  
  border-radius: 0px 0px 12px 12px;
  display: none;
}
.timeblock{
  padding: 10px 20px;
  border-left: 2px solid #000000;
  display: inline-block;
}
.timeactive{
  color: black;
}
.overlay{
  z-index: 9999;
  position: absolute;
  display: inline-block;
}
.trading-amount{
  border-radius: 12px 0px 0px 12px !important; 
  background-color: #E6EF59 !important; 
  padding: 5px 30px !important; 
  border: 2px solid #000000 !important;
}
.trading-amount-input{
  border-radius: 0px 12px 12px 0px !important; 
  border: 2px solid #000000 !important; 
  background-color: #EEEEFF !important; 
  color: black !important;
}
.coin-description{
  max-width: 550px; 
  font-weight: 400; 
  font-size: 22px; 
  line-height: 29px;
}
@media (min-width: 768px) {
    
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}

/* switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  border: 2px solid black;
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  border: 2px solid black;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  border: 2px solid black;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -5px;
  bottom: -5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4E9E7E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4E9E7E;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.yellowbox{
  display: inline-block;
  background: #E6EF59;
  border: 2px solid #090909;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px #000000;
  padding: 16px;
  font-size: 16px;
  width: fit-content;
  line-height: 21px;
  cursor: pointer;
}
.pointer{
  height: 25px; 
  width: 25px;
  margin-bottom: 2px;
}

/* progress bar for createbot */
.progressbar{
  width: 300px
}
.progressbarhr{
  border-top: 3px dashed black;
  background-color: transparent;
  opacity: 1;
  width: 50%;
  display: inline-block;
}
.progressbarhr-done{
  border-top: 3px solid black;
}
.stepbutton{
  width: 40px;
  height: 40px;
  padding-bottom: 5px;
  border: 3px solid black;
  background-color: white;
  font-size: 25px;
  line-height: 25px;
}
.selected{
  box-shadow: 4px 4px 0px #000000;
  width: 60px;
  height: 60px;
}
.progressbartext{
  padding-top: 50px;
  width: 300px
}
.steptext{
  text-align: justify;
}


.flip-card {
  height: 550px;
  max-width: 400px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card .is-flipped {
  transform: rotateY(-180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.bot-card-tether{
  border: 2px solid #57AE95; 
  box-shadow: 4px 4px 0px #57AE95; 
  background-color: #CFFDF0;
  color: #439A81; 
}
.bot-card-bitcoin{
  border: 2px solid #F7931A; 
  box-shadow: 4px 4px 0px #F7931A; 
  background-color: #FFE8CD;
  color: #E8850E; 
}
.card-component-top{
  padding: 33px 24px; 
  border-radius: 12px 12px 0px 0px;  
  font-size: 37px; 
  line-height: 21px;
}
.card-component-bottom{
  padding: 20px; 
  height: 461px;
  position: relative;
  background-color: white;
  border-radius: 0px 0px 12px 12px ;  
}
.card-component-paragraph{
  max-width: 310px;
  padding: 20px; 
  font-size: 22px; 
  font-weight: 400; 
  line-height: 29px; 
  text-align: justify; 
  position: absolute; 
  top: 40%; 
  transform: translateY(-50%);
  color: black;
}
.bot-card-tether > .card-component-top{
  border-bottom: 2px solid #57AE95; 
}
.bot-card-bitcoin > .card-component-top{
  border-bottom: 2px solid #F7931A; 
}

.step-box-top{
  padding: 15px 50px; 
  background: #F9F9FF; 
  border-radius: 12px 12px 0px 0px
}
.step-box-bottom{
  padding: 30px 50px; 
  background-color: white; 
  border-radius: 0px 0px 12px 12px
}
.select-bot-circle{
  position: relative; 
  display: inline-block; 
  width: 38px;
  cursor: pointer;
}
.conservative{
  background-color: #F4EFBD !important; 
  color: #B4A200 !important; 
  font-size: 16px !important;
}
.moderate{
  background-color: #FFD6B0 !important; 
  color: #CC782B !important; 
  font-size: 16px !important;
}
.aggressive{
  background-color: #FFB0B0 !important; 
  color: #CC2B2B !important; 
  font-size: 16px !important;
}
.readtoggle{
  line-height: 16px; 
  cursor:pointer
}

.bot-select-circle {
  display: block; 
  position: relative;
  cursor: pointer;
  width: 38px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.bot-select-circle input {
  position: absolute;
  cursor: pointer;
  display: none;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: -8;
  left: 0;
  height: 38px;
  width: 38px;
  border: 2px solid black;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 0px black
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:before {
  content: "";
  position: absolute;
  display: block;
}

/* Show the indicator (dot/circle) when checked */
.bot-select-circle input:checked ~ .checkmark:after {
  display: block;
}

.bot-select-circle input:checked ~ .checkmark:before {
  display: none;
}

/* Style the indicator (dot/circle) */
.bot-select-circle .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 20px;
	height: 20px;
  border: 2px solid black;
	border-radius: 50%;
	background: green;
}
/* Style the indicator (dot/circle) */
.bot-select-circle .checkmark:before {
 	top: 7px;
	left: 7px;
	width: 20px;
	height: 20px;
    border: 2px solid black;
	border-radius: 50%;
	background: white;
}






.dropbtn {
  background-color: #EEEEFF;
  color: #000000;
  padding: 10px 20px; 
  font-size: 16px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 12px;
  min-width: 100%;
  text-align: start;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.1em;  
}
.dropdown {
  position: relative;
  display: inline-block;
  line-height: 21px;
  width: 100%;
  letter-spacing: 0.1em;  
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  border-radius: 0px 0px 12px 12px;
  border: 2px solid black;
  border-top: 0px;
  background-color: #EEEEFF;
  min-width: 20vw;
  font-weight: 500;
  min-width: 100%;
}
.dropdown-content a {
  color: black;
  padding: 10px 20px; 
  text-decoration: none;
  display: block;
  background-color: transparent;
}
.dropdown-content a:last-child {
  border-radius: 0px 0px 12px 12px
}

.dropdown-content a:hover {
  background-color: #D5D5ED;
  font-weight: 700;
  color: #000000;
}

.dropdown-content-show {
  display: block ;
}

.dropbtn-show-content {
  border-radius: 12px 12px 0px 0px ;
}